# Ignore version control directories and files
.git/
.svn/
.hg/
.vscode/
.gitignore
docs
tests
Makefile
LICENSE
requirements.txt
.github/
examples/
memory-bank/
site/

# Ignore all log files and temporary files
*.log
*.tmp
*.pyc
__pycache__/
sandbox
tmp/
.files
*_cache
.coverage
.env.sample
coverage.xml
.mypy_cache/
.pytest_cache/
.ruff_cache/
logs.txt

## Sage data dir
data

# Ignore files that are generated during the build process
*.o
*.so

# Ignore the Dockerfile and .dockerignore itself
Dockerfile
.dockerignore
docker-compose.yml

# Ignore local environment configuration
.env
**/*.env
docker
**/*config.yaml
example-config-*.yaml
*.pem

# Ignore the virtual environment directory
venv/
env/
.venv/
.env/
**/.venv

# Skip EE files
mergebot-ee
mergebot-saas
